{% extends "base.html" %}


{% block title %}
    О нас
{% endblock %}

{% block content %}
    <div class="about_us">
      <h2>О нас</h2>
        <p>Наша компания на рынке с момента когда Валера Филатов выдал задание сделать приложение на Django.</p>
        <p>Данный проект нужен нам для изучения Django, а также для пополнения нашего портфолио.
           Для того, чтобы не упираться в одни и те же задачи, тему в этот раз необходимо выбрать
           отличной от той, что была выбрана вами в прошлых проектах. Также в этот раз не будет
           разделения по заданиям, поскольку всё выполнение задачи сводится к вашему творчеству и
           изучению темы.</p>
        <p>Короче ваяем бек, забив на фронт, но так не интересно. Поэтому ты это и читаешь)))</p>
    </div>
{% endblock content %}