{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Авторизация
{% endblock %}


{% block content %}
<!--      Модальное окно логин      -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content my_modal">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Вход</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">

                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group my_form-group">
                            <button class="btn btn-outline-info my_login my_font_color" type="submit">Войти</button>
                        </div>
                    </form>
                    <div class="pt-3">
                        <small>
                            <span class="my_font">Создать аккаунт? </span><a class="my_font_color" href="{% url 'register' %}">Регистрация</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}